# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data files
*.json
*.csv
*.zip
data/

# Artifacts (plots, outputs)
artifacts/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# PyTorch / checkpoints
*.pt
*.pth

# Miscelanous
chat.txt
report.tex